image: pybind11-testing

test:
  stage: test
  script:
  - pip install -U sphinx
  - pip install -U sphinx-rtd-theme
  - . ./set_env.sh
  - make
  - sphinx-build -b html doc/ public
  only:
  - branches
  except:
  - main

pages:
  stage: deploy
  script:
  - pip install -U sphinx
  - pip install -U sphinx-rtd-theme
  - . ./set_env.sh
  - make
  - sphinx-build -b html doc/ public
  artifacts:
    paths:
    - public
  only:
  - main
